@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#fff;
}

a:hover {
    color:#3E343D;
}

#subheader {
    background:#ececec;
    color:#3E343D;
    padding:15px 100px;
    overflow:auto;
}

#subheader .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#3E343D;
    font-size:22px;
    margin-right:10%;
}
span.user{
    float: right;
}
.main-info{
    margin: 20px;
    font-style: italic;
    font-size: 20px;
}
.workspaces{
    margin: 10px;
    overflow: auto;
}
.workspace{
    font-size: 18px;
    float: left;
    border: #2EA664 3px solid;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    font-weight: bold;
    color: #3E343D;
}
.workspace img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.workspace span{
    vertical-align: middle;
}
.btn-space{
    margin: 9px;
}
.btn{
    font-size: 13px;
    text-transform: uppercase;
    border: solid 2px #2EA664;
    padding: 5px;
    border-radius: 5px;
    background: #b3e0c0;
    margin-left: 15px;
}
body{
    background-color: #F6F2F1;
}
.login{
    background-size: cover;
    height: 85vh;
    width: 100vw;
    background: url('../img/Slack_logo-1240x629.jpg') no-repeat left;
}
.login h1{
    font-weight: bold;
    color: #3E343D;
    text-align: right;
    margin-right: 50px;
}
.login a{
    color: white;
    font-weight: bold;
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 8px;
    background: #2EA664;
    float: right;
    margin-right: 350px;
}
.current-chanel{
    font-size: 18px;
    margin: 10px;
}
.active-chanel{
    color: white;
    font-weight: bold;
    border: 1px solid #2EA664;
    border-radius: 5px;
    padding: 4px;
    background-color: #2EA664;
}
.channels{
    float: left;
}
.moderators{
    float: right;
    margin-right: 100px;
}
form {
    overflow:auto;
    margin-left: 35px;
}
form p label, p input {
    float:left;
    clear:both;
}

form p label {
    color: #3E343D;
    font-size:16px;
    margin: 10px;
}

form p select, p input {
    width:230px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background: #d3d3d3;
    color: #3E343D;
    border-radius:4px;
}

input[type=submit], a.button {
    width:255px;
    font-weight:bold;
    background: #2EA664;
    border-radius: 5px;
    border: 2px solid darkgreen;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}
table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}
/*tbody tr:nth-child(odd) {*/
    /*background:#efefef;*/
/*}*/
thead th {
    background:#2EA664;
    color:#fff;
    font-weight:bold;
}
table.statistics {
    margin-bottom:40px;
}
.answer {
    background: #9dbc98;
}
.logout{
    text-align: right;
    background: #9dbc98;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgreen;
    color: white;
}